.main-signin-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  margin-top: 30vh;
  background-color: #002884;
  color: white;
  padding: 20px;
}

label {
  padding-top: 10px;
  padding-bottom: 10px;
}

button[type="submit"] {
  margin-top: 20px;
  background-color: #3f50b5;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #757ce8;
  color: white;
}